@{
    ViewData["Title"] = "BeAFlirt";
}
<div class="text-center">
    <h1 class="display-4">Flirting</h1>
    <br />
    <p>Learn about one of Kira Coleman's favorite hobbies, flirting. (or as Hilton's son calls it "Rizzing up the baddies")</p>
</div>

<p>Flirting, a delightful dance of wit and charm, is the art of conveying romantic or playful interest through subtle cues 
    and verbal exchanges. Learning how to flirt is more than just mastering the art of attraction; it's a valuable skill that
    enhances your social interactions. Flirting injects a sense of playfulness and 
    spontaneity into conversations, breaking down barriers and creating a relaxed atmosphere.
    
</p>

<p>In the realm of small flirtations, it's not about the grand gestures; it's about those tiny, electrifying moments 
    that make you wonder what could happen next. It's a low-key game of tag, where the thrill lies in the chase and the 
    promise of more flirty escapades. In the end, I love flirting because it's a beautiful reminder that life is meant to be enjoyed,
    one charming interaction at a time.
</p>


<a asp-action="Tutor"><button class=" gray-button">Click to see what a lesson would cost --></button></a>


<br />
<br />
<br />
<br />
<br />
<h2>Victims</h2>

<img src="~/img/calebxoxo.jpg" />
<img src="~/img/gaynick.jpg" />
<img src="~/img/fielding.jpg" />
<img src="~/img/asante.jpg" />
<img src="~/img/zach.jpg" />
<img src="~/img/will.jpg" />
<img src="~/img/david.jpg" />
<img src="~/img/timur.jpg" />
<img src="~/img/ollie.jpg" />
<img src="~/img/adam.jpg" />
<img src="~/img/adamsection2.jpg" />
<img src="~/img/braxdon.jpg" />
<img src="~/img/devin.jpg" />
<img src="~/img/drew.jpg" />
<img src="~/img/jack.jpg" />
<img src="~/img/harrison.jpg" />
<img src="~/img/jason.jpg" />
<img src="~/img/justin.jpg" />
<img src="~/img/kian.jpg" />
<img src="~/img/mckay.jpg" />
<img src="~/img/mo.jpg" />
<img src="~/img/reed.jpg" />