@{
    ViewData["Title"] = "Cost";
}

<a asp-action="Index"><button class="goBack">Go Back</button></a>

<br /><br />

<h1>@ViewData["Title"]</h1>




<h3>What tutoring would cost for you:</h3>
<form id="lessonForm">
    <label for="hours">Number of hours:</label>
    <input type="number" id="hours" name="hours"  title="Please enter a positive number">
    <br><br />
    <label>Rate per hour:</label>
    <input type="text" id="ratePerHour" value="30" readonly>

    <br><br />
    <input class="heart-button " type="button" value="Calculate Total" id="btnCalculate">
    <br><br /><br /><br />
    <label>Total:</label>
    <span class="slay" id="total"></span>
</form>